---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Foto from "../img/yo.jpg";
import Atalia from "../img/ataliaLogo.png";
import { AtaliaMF } from "../components/ataliaFM";
import Forest from "../components/bgForest";
---

<Layout title="Portfolio">
  <div class="flex justify-center pt-24">
    <div
      class="flex justify-center items-center w-40 h-40 overflow-hidden rounded-full border-4 border-white antialiased"
    >
      <a href="https://www.linkedin.com/in/matias-sepúlveda-1914152a7">
        <Image
          src={Foto}
          alt="Foto de perfil"
          class="w-full h-auto rounded-full"
        />
      </a>
    </div>
  </div>
  <div class="flex justify-center pt-16">
    <h1 class="text-white text-center text-2xl">Matías Sepúlveda</h1>
  </div>
  <div class="flex justify-center pt-16">
    <h1 class="text-white text-center text-4xl sm:text-5xl md:text-7xl">
      Software Engineer
    </h1>
  </div>
  <div class="flex justify-center pt-16">
    <h1 class="text-white text-center text-2xl max-w-96">
      I have a strong passion for design aesthetic focused interfaces
    </h1>
  </div>
  <div class="flex justify-center items-center pt-20">
    <div class="flex justify-around w-36 h-36">
      <a
        href="https://github.com/malygod"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex"
        aria-label="GitHub"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="transform text-white h-10 w-10 hover:text-rose-200 duration-150 ease-out hover:scale-110"
          ><path
            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
          ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
        ></a
      >
    </div>
  </div>
  <div class=" py-[50px] 2xl:py-[100px]">
    <Forest />
  </div>
  <div class="grid xl:flex xl:px-[5%] 2xl:px-[15%]">
    <div
      class="pt-0 justify-center xl:pt-16 w-full sm:w-full md:w-full lg:w-full xl:w-1/3"
    >
      <div class="flex justify-center xl:block">
        <div
          class="flex justify-center items-center w-28 h-28 overflow-hidden rounded-full antialiased"
        >
          <a href="https://www.linkedin.com/in/matias-sepúlveda-1914152a7">
            <Image
              src={Atalia}
              alt="Foto de perfil"
              class="w-full h-auto rounded-full"
            />
          </a>
        </div>
      </div>
      <div class="py-10">
        <h1 class="text-white text-center xl:text-left text-2xl xl:text-4xl">
          Junior Software Engineer
        </h1>
      </div>
      <div class="w-full">
        <h1 class="text-white text-center xl:text-left text-xl">
          Junior Software Engineer
        </h1>
      </div>
    </div>
    <div class="w-full xl:flex">
      <AtaliaMF />
    </div>
  </div>
  <div class="py-[50px] 2xl:py-[100px]">
    <Forest />
  </div>
</Layout>
