---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Un mensaje pal rodrigo">
	<main class="layout">
		<h6 class="text-3xl md:text-6xl text-white ">Chupala rorro</h6>
	</main>
</Layout>

<style>
	.layout {
		display: grid;
		place-items: center;
		height: 100vh;
	}
</style>
