---
import SwitchTheme from "./switchTheme.tsx";
---

<div class="sm:flex pt-6">
  <SwitchTheme client:only />
</div>
<div
  class="hidden sm:flex justify-center items-center text-center py-10 sticky dark:text-white"
>
  <ul class="flex justify-evenly max-w-md">
    <li class="mx-24">
      <a
        class="hover:text-zinc-500 text-2xl"
        href="#start">Start</a
      >
    </li>
    <li class="mx-24">
      <a
        class="hover:text-zinc-500 text-2xl"
        href="#experience">Experience</a
      >
    </li>
    <li class="mx-24">
      <a
        class="hover:text-zinc-500 text-2xl"
        href="#projects">Projects</a
      >
    </li>
    <li class="mx-24">
      <a
        class="hover:text-zinc-500 text-2xl"
        href="#about">About</a
      >
    </li>
    <li class="mx-24">
      <a
        class="hover:text-zinc-500 text-2xl"
        href="#skills">Skills</a
      >
    </li>
  </ul>
</div>
