---
interface navProps {
  href: string;
}

const { href } = Astro.props;
---

<div
  class="hidden sm:flex justify-center items-center py-10 sticky dark:text-white"
>
  <ul class="flex justify-center max-w-md">
    <li>
      <a
        class="px-0 sm:px-8 md:px-10 xl:px-16 hover:text-zinc-500 text-2xl"
        href="#start">Start</a
      >
    </li>
    <li>
      <a
        class="px-0 sm:px-8 md:px-10 xl:px-16 hover:text-zinc-500 text-2xl"
        href="#experience">Experience</a
      >
    </li>
    <li>
      <a
        class="px-0 sm:px-8 md:px-10 xl:px-16 hover:text-zinc-500 text-2xl"
        href="#projects">Projects</a
      >
    </li>
    <li>
      <a
        class="px-0 sm:px-8 md:px-10 xl:px-16 hover:text-zinc-500 text-2xl"
        href={href}>About</a
      >
    </li>
    <li>
      <a
        class="px-0 sm:px-8 md:px-10 xl:px-16 hover:text-zinc-500 text-2xl"
        href={href}>Skills</a
      >
    </li>
  </ul>
</div>
